<div class="exchange-rate-container">
  <div class="container">
    <div *ngFor="let rate of exchangeRates" class="col-sm-3 mb-4">
      <div class="card rate-card" 
           [ngClass]="{
             'flash-green': rate.change > tolerance,
             'flash-red': rate.change < -tolerance
           }">
        <div class="card-body text-center">
          <!-- Image Wrapper -->
          <div class="currency-flag-wrapper">
            <img 
              [src]="'https://wise.com/public-resources/assets/flags/rectangle/' + (rate.currency | lowercase) + '.png'" 
              alt="{{rate.currency}} flag" 
              class="currency-flag mb-2" 
              (error)="onImageError($event)" />
          </div>
          <h6 class="card-title">USD/{{ rate.currency }}</h6>
          <p class="card-text">{{ rate.value | number: '1.2-2' }}</p>
          <div class="rate-change" 
               [ngClass]="{ 
                 'text-success': rate.change > tolerance, 
                 'text-danger': rate.change < -tolerance 
               }">
            {{ rate.change > tolerance ? '+' : '' }}{{ rate.change | number: '1.2-2' }}%
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
